@model ExpediaInterview.ViewModel.QueryParametersViewModel

@{
    ViewData["Title"] = "Index";
    var deal = (ExpediaInterview.Models.Deal)ViewData["deal"];
}




<form asp-controller="Deals" asp-action="Index" method="post">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    Scenario(*):
                    <span asp-validation-for="Scenario" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Scenario" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Page(*):
                    <span asp-validation-for="Page" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Page" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    User ID(*):
                    <span asp-validation-for="Uid" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Uid" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Product Type:
                </td>
                <td>
                    <input asp-for="ProductType" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Destination Name:
                </td>
                <td>
                    <input asp-for="DestinationName" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Destination City:
                </td>
                <td>
                    <input asp-for="DestinationCity" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Minimum Trip Start Date (format: 2017-05-03):
                    <span asp-validation-for="MinTripStartDate" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="MinTripStartDate" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Maximum Trip Start Date:
                </td>
                <td>
                    <input asp-for="MaxTripStartDate" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Length Of Stay:
                </td>
                <td>
                    <input asp-for="LengthOfStay" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Minimum Star Rating:
                </td>
                <td>
                    <input asp-for="MinStarRating" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Maximum Star Rating:
                </td>
                <td>
                    <input asp-for="MaxStarRating" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Minimum Guest Rating:
                </td>
                <td>
                    <input asp-for="MinGuestRating" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Maximum Guest Rating:
                </td>
                <td>
                    <input asp-for="MaxGuestRating" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Minimum Total Rate:
                </td>
                <td>
                    <input asp-for="MinTotalRate" /> <br />
                </td>
            </tr>
            <tr>
                <td>
                    Maximum Total Rate:
                </td>
                <td>
                    <input asp-for="MaxTotalRate" /> <br />
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Get Deals</button>
</form>
<br />
<br />
<br />
@if (deal == null)
{
    <p>
        Please Fill The Parameters To Generate A Deal
    </p>

}
else if(deal.IsValidDeal())
{
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#offerdetails">Offer Details</button>
<div id="offerdetails" class="collapse">
    <table class="table">
        <thead>
            <tr>
                <th>Site ID</th>
                <th>Language</th>
                <th>Currency</th>
                <th>User Selected Currency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @deal.OfferDetails.SiteID
                </td>
                <td>
                    @deal.OfferDetails.Language
                </td>
                <td>
                    @deal.OfferDetails.Currency
                </td>
                <td>
                    @deal.OfferDetails.UserSelectedCurrency
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<br />
<br />
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#userdetails">User Details</button>
<div id="userdetails" class="collapse">
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Persona Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @deal.User.UserID
                </td>
                <td>
                    @deal.User.Persona.PersonaType
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<br />
<br />
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#offers">Offers</button>
<div id="offers" class="collapse"> 
    @if (deal.OfferCollections.Hotels != null)
        {
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#hotels">Hotels(@deal.OfferCollections.Hotels.Count)</button>
        <div id="hotels" class="collapse">
            <table class="table">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Length of Stay</th>
                        <th>Destination</th>
                        <th>Hotel</th>
                        <th>Rooms Left</th>
                        <th>Average Price</th>
                        <th>Info Site</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hotel in deal.OfferCollections.Hotels)
                    {
                        <tr>
                            <td>
                                @(hotel.DateRange.TravelStartDate != null ? hotel.DateRange.TravelStartDate.Value.ToString("yyyy-MM-dd") : "n/a")
                            </td>
                            <td>
                                @(hotel.DateRange.TravelEndDate != null ? hotel.DateRange.TravelEndDate.Value.ToString("yyyy-MM-dd") : "n/a")
                            </td>
                            <td>
                                @hotel.DateRange.LengthOfStay
                            </td>
                            <td>
                                @hotel.Destination.ShortName
                            </td>
                            <td>
                                @hotel.Hotel.LocalizedName
                            </td>
                            <td>
                                @hotel.Urgency.NumberOfRoomsLeft
                            </td>
                            <td>
                                @hotel.Pricing.AveragePriceValue
                            </td>
                            <td>
                               <a href="@(hotel.URLs.HotelInfositeUrl)"> ClickMe! </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    <br />
    <br />
    @if (deal.OfferCollections.Flights != null)
    {
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#flights">Flights(@deal.OfferCollections.Flights.Count)</button>
        <div id="flights" class="collapse">
            <table class="table">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Carrier</th>
                        <th>Trip Type</th>
                        <th>Total Price (per passanger)</th>
                        <th>Search URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var flight in deal.OfferCollections.Flights)
    {
                        <tr>
                            <td>
                                @(flight.DateRange.TravelStartDate != null ? flight.DateRange.TravelStartDate.Value.ToString("yyyy-MM-dd") : "n/a")
                            </td>
                            <td>
                                @(flight.DateRange.TravelEndDate != null ? flight.DateRange.TravelEndDate.Value.ToString("yyyy-MM-dd") : "n/a")
                            </td>
                            <td>
                                @flight.Origin.City
                            </td>
                            <td>
                                @flight.Destination.City
                            </td>
                            <td>
                                @flight.Flight.FlightCarrierName
                            </td>
                            <td>
                                @flight.Flight.TripType
                            </td>
                            <td>
                                @flight.PricingInfo.FlightPerPsgrTotalPrice
                            </td>
                            <td>
                               <a href="@(flight.URLs.FlightSearchUrl)"> ClickMe! </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <br />
    <br />
    @if (deal.OfferCollections.Packages != null)
{
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#packages">Packages(@deal.OfferCollections.Packages.Count)</button>
        <div id="packages" class="collapse">
            <table class="table">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Hotel</th>
                        <th>Rooms Left</th>
                        <th>Hotel Total Price</th>
                        <th>Flight Total Price</th>
                        <th>Package Total Price (per passanger)</th>
                        <th>Package URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var package in deal.OfferCollections.Packages)
{
                        <tr>
                            <td>
                                @(package.DateRange.TravelStartDate != null ? package.DateRange.TravelStartDate.Value.ToString("yyyy-MM-dd") : "n/a")
                            </td>
                            <td>
                                @(package.DateRange.TravelEndDate != null ? package.DateRange.TravelEndDate.Value.ToString("yyyy-MM-dd") : "n/a")
                            </td>
                            <td>
                                @package.Origin.City
                            </td>
                            <td>
                                @package.Destination.City
                            </td>
                            <td>
                                @package.Hotel.LocalizedName
                            </td>
                            <td>
                                @package.HotelUrgency.NumberOfRoomsLeft
                            </td>
                            <td>
                                @package.HotelPricing.HotelTotalRate
                            </td>
                            <td>
                                @package.FlightPricing.FlightPerPsgrTotalPrice
                            </td>
                            <td>
                                @package.PackagePricing.TotalPackagePrice
                            </td>
                            <td>
                               <a href="@(package.URLs.PackageSearchUrl)"> ClickMe! </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
}
else {
<p> No Deals To Show </p>
}
